body{
    background-color: rgb(0, 174, 255);
}

.todo {
    border: 5px solid rgb(158, 158, 158);
    margin: 5px;
    display: inline-block;
    width: 350px;
    height: 285px;
    overflow: scroll;
    background-color: rgb(128, 128, 128);
}   

img{
    height: 150px;
}

.strike{
    text-decoration: line-through;
}
h1{
    text-align: center;
}

h3{
    text-align: center;
}

img{
    float: left;
}

.priceBox{
    text-align: center;
    margin-bottom: 15px;
}

.isItFinished{
    text-align: center;
    margin-bottom: 15px;
}

.deleteDiv{
    text-align: center;
    margin-bottom: 15px;
}

.editDiv{
    text-align: center
}