*{
    margin: 0;
}

.homeDiv{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: 75vh;
    background-color: rgb(128, 135, 161);
    overflow: scroll;
}

.hamberger{
    height: 16px;
    width:  16px;
    display: none;
}

@font-face{
    font-family: montserrat;
    src: url(Montserrat-LightItalic.ttf)
}

h3{
    font-family:  montserrat;
    text-shadow: 2px 2px 5px rgb(82, 78, 78)
}

h1{
    font-family:  montserrat;
    text-shadow: 2px 1px 1px rgb(82, 78, 78) 
}

p{
    font-family:  montserrat;
    text-shadow: 2px 1px 1px rgb(82, 78, 78) 
}

.homeH1{
    margin: 25px;
}

.homeP{
    display: flex;
    width: 60%;
    margin-top: 10vh;
}

.navbarDiv{
    display: flex;
    justify-content: space-evenly;
    height: 10vh;
    align-items: center;
    background-color:#759EB8;
    background-image: linear-gradient(rgb(130, 176, 204), rgb(66, 86, 99));
    width: 100vw;
    box-shadow: 0 3px 4px black;
    margin-bottom: 3px;
}

.headerLinks{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100vw;
}

.chuckApiDiv{
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 75vh;
    background-color: rgb(118, 129, 146);
    overflow: scroll;
}


.chunkJoke{
    margin: 25px;
    margin-bottom: 10vh;
    width: 60%;
}

.jokesApiDiv{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 75vh;
    background-color: #56667A;
    overflow: scroll;
}

.jokes{
    margin: 25px
}

.jokeText{
    margin-bottom: 7vh;
}

.footDiv{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    height: 15vh;
    align-items: center;
    background-color: #7392B7;
    background-image: linear-gradient(rgb(76, 86, 99), rgb(129, 161, 201));
    width: 100vw;
    margin-top: 3px;
    box-shadow: 0 -3px 4px
}

.linkedinLink{
    font-size: 50px;
    color:  rgb(0,119,181)
}

.githubLink{
    font-size: 50px;
    color: black;
}

.favoritesDiv{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: 75vh;
    background-color: rgb(85, 94, 128);    
    overflow: scroll;
}

.mappedDiv{
    width: 60%;
    margin: 20px
}


.navLink{
    text-decoration: none;
    color: black;
}

.buttonIs-false{
    display: none;
}

.buttons{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.punchline-false{
    display: none;
}

.jokeFav-false{
    display: none;
}

.punchButton-false{
    display: none;
}

.hamberlinks{
    display: none;
}

.favedJoke{
    margin-bottom: 20px;
}
@media only screen and (max-width: 700px){
    .hamberlinks{
        display: flex;
        flex-direction: column;
        position: absolute;
        height: 100vh;
        justify-content: space-evenly;
        width: 175px;
        align-items: center;
        background-color: #7392B7;
    }
    
    .hamberger{
        display: unset;
        margin-left: 30px;
        position: relative;
    }

    .headerLinks{
        display: none;
    }

    .navbarDiv{
        justify-content: flex-start;        
        
    }

    .hambergerlinks-false{
        left: -200px;
        transition: 0.8s;
        transition-timing-function: ease-in-out;
    }

    .hambergerlinks-true{
        left: 0;
        transition: 0.8s;
        transition-timing-function: ease-in-out;
    }
}
