*{
    margin: 0;
}

.homeDiv{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: 80vh;
    background-color: #A7ADC6;
    overflow: scroll;
}

.homeH1{
    margin: 25px;
}

.homeP{
    display: flex;
    width: 60%;
    margin-top: 15vh;
}

.navbarDiv{
    display: flex;
    justify-content: space-evenly;
    height: 70px;
    align-items: center;
    background-color: #759EB8;
}

.chuckApiDiv{
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 80vh;
    background-color: rgb(118, 129, 146);
    overflow: scroll;
}

.chunkButton{
    margin-top: 15vh;
}

.chunkJoke{
    margin: 25px;
    width: 60%;
}

.jokesApiDiv{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
    background-color: #56667A;
    overflow: scroll;
}

.jokes{
    margin: 25px
}

.jokesButton{
    margin-top: 15vh;
}

.footDiv{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    height: 100px;
    align-items: center;
    background-color: #7392B7;
}

.linkedinLink{
    font-size: 50px;
    color:  rgb(0,119,181)
}

.githubLink{
    font-size: 50px;
    color: black;
}

.favoritesDiv{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: 80vh;
    background-color: rgb(152, 161, 197);
    overflow: scroll;
}

.mappedDiv{
    width: 60%;
    margin: 20px
}

.navLink{
    text-decoration: none;
    color: black;
}

.buttonIs-false{
    display: none;
}

.buttons{
    display: flex;
}

.punchline-false{
    display: none;
}

.jokeFav-false{
    display: none;
}

.punchButton-false{
    display: none;
}